@import "tailwindcss";
@theme {
  --font-delius: "Delius", cursive;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-delius;
  }
}
